{% extends "main.html" %}
{% block title %}SchoolCTF 2014 - Задания{% endblock %}
{% block main_content%}
    <h2>Задания</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>
                        Crypto
                    </td>
                    <td>
                        Crypto
                    </td>
                    <td>
                        Crypto
                    </td>
                    <td>
                        Crypto
                    </td>
                    <td>
                        Crypto
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="">
                        Task 100
                    </td>
                    <td>
                        Task 100
                    </td>
                    <td>
                        Task 100
                    </td>
                    <td>
                        Task 100
                    </td>
                    <td>
                        Task 100
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}